.container {
  margin: auto;
  max-width: 1130px;
  font-size: 100%;
}

.row {
  display: flex;
  width: 100%;
}

.col20 { width: 20%; }
.col25 { width: 25%; }
.col33 { width: calc(100% / 3); }
.col40 { width: 40%; }
.col50 { width: 50%; }
.col60 { width: 60%; }
.col66 { width: calc(200% / 3); }
.col80 { width: 80%; }
.col100 { width: 100%; }
