.col20 { width: 20%; }
.col25 { width: 25%; }
.col33 { width: calc(100% / 3); }
.col50 { width: 50%; }
.col60 { width: 60%; }
.col66 { width: calc(200% / 3); }
.col80 { width: 80%; }
.col100 { width: 100%; }

.row {
  display: flex;
  width: 100%;
}

.container {
  margin: auto;
  font-size: 100%;
}

.overlay {
  background: linear-gradient(transparent, rgb(0 0 0 / 75%));

  /* This is from absolute.css from css.positioning. adapt for purposes. */
  width: 300px;
  height: 300px;
}

/* HEADBAR HEADBAR HEADBAR HEADBAR HEADBAR HEADBAR HEADBAR HEADBAR HEADBAR */

/* use padding instead of margin to keep border */
.headbar {
  border-bottom: 1px solid rgb(233 235 238);
  margin: 0;
  padding: 0 5vw;
}

.headlogo {
  height: 1.8rem;
}

.linkheadbar {
  display: flex;
  flex-direction: row-reverse;
}

.linkheadbar a {
  margin: auto 1.5vw auto 0;
  color: rgb(179 179 179);
  transition-duration: 0.2s;
  text-decoration: none;
}

/* linter doesnt like the placement here
.linkheadbar a:hover {
  color: black;
  transition-duration: 0.2s;
}
*/

.iconheadbar {
  margin: auto;
  padding-left: 0.5rem;
}

.buttcontact {
  background-color: rgb(41 68 100);
  transition-duration: 0.2s;
  color: white;
  padding: 0.8rem 1.2rem;
  margin: 1rem 0 1rem 0.5vw;
  border-radius: 0.3rem;
  border-style: none;
}

.buttcontact:hover {
  background-color: rgb(68 111 163);
}

/* HEADBAR HEADBAR HEADBAR HEADBAR HEADBAR HEADBAR HEADBAR HEADBAR HEADBAR */

/* HERO HERO HERO HERO HERO HERO HERO HERO HERO HERO HERO HERO HERO HERO HERO */

.heropage {
  background-image: url("./images/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  margin: 3rem 5vw;
  width: auto;

  /* so it was adopting width 100% from row, which was causing the overhang effect bothering me. */
}

.herotext h1,
.herotext p {
  color: rgb(255 255 255);
  padding-left: 1.5rem;
  line-height: 1.5rem;
  padding-top: 2rem;
}

.herotext h1 {
  font-family: "Tiempos Headline", Times, serif;
}

.herobutt {
  background-color: rgb(41 68 100);
  transition-duration: 0.2s;
  color: white;
  padding: 0.75rem 1.6rem;
  margin-left: 1.5rem;
  margin-bottom: 2.5rem;
  border-radius: 0.3rem;
  border-style: none;
}

.herobutt:hover {
  background-color: rgb(68 111 163);
  transition-duration: 0.2s;
}

/* HERO HERO HERO HERO HERO HERO HERO HERO HERO HERO HERO HERO HERO HERO HERO */

/* OTHERS OTHERS OTHERS OTHERS OTHERS OTHERS OTHERS OTHERS OTHERS OTHERS */

.centertext {
  margin-left: 20%;
  margin-right: 20%;
}

.otherbg {
  background-color: rgb(248 248 248);
}

.centertext h2 {
  font-family: "Tiempos Headline", Times, serif;
  font-weight: lighter;
}

.centertext p,
.centertext h2 {
  text-align: center;
}

.otherlist li {
  text-align: center;
  margin: 1rem auto;
}

.otherlist {
  list-style-type: none;
  line-height: 1.4rem;
}

/* OTHERS OTHERS OTHERS OTHERS OTHERS OTHERS OTHERS OTHERS OTHERS OTHERS */

/* CTA CTA CTA CTA CTA CTA CTA CTA CTA CTA CTA CTA CTA CTA CTA CTA CTA */

.ctatext {
  margin: auto 3rem;
}

.ctatext h2 {
  font-family: "Tiempos Headline", Times, serif;
}

.ctabutt button {
  margin: 3rem;
}

/* CTA CTA CTA CTA CTA CTA CTA CTA CTA CTA CTA CTA CTA CTA CTA CTA CTA */

/* FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER */

.footer {
  padding: auto 3rem;
}

.darkbg {
  background-color: rgb(94 94 94);
}

.footertext > * {
  color: white;
  padding-left: 3rem;
  margin-left: 0;
}

.footertext a {
  display: block;
  text-decoration: none;
}

.footertext img {
  height: 1.5rem;
  margin: 3rem;
  margin-left: 0;
}

.footerlink a {
  color: grey;
  text-decoration: none;
  margin: 2rem 1.5rem 2rem 3rem;
}

/* FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER */
